.form-input{position: relative}
label{position: absolute;right: 4px;top: 18px;  color: red;font-size: 12px;}
@font-face {
    font-family: icon;
    src: url(../font/iconfont.eot),url(../font/iconfont.svg),url(../font/iconfont.ttf),url(../font/iconfont.woff);
}
.checked:after{content: '\e6a7';display: inline-block;color: green;font-family: icon;}